# Custom
deployable-*
bin
lib
build
dist
coverage
.*.json
*.rhl
*.tsbuildinfo
.ssl
!.gitkeep
.firebase
firebase-debug.log

# Dev-time storage
/data

# Account key
*serviceAccountKey*

# OSX
.DS_Store

# IDEs
# Root idea dir contains useful run configurations and style settings
# If a nested dir is opened in IDE, those settings are excluded
.idea
!/.idea
/.vscode

# dotenv environment variables file
*.env
.env.*
!*.env.sample
# These env files are not samples, they contain useful values loaded by freedom-config/loadEnv.ts:
!.env.defaults
!.env.*.defaults
!.env.test

# Node
node_modules/
npm-debug.log
yarn-error.log
