# Custom
deployable-*
bin
lib
build
dist
coverage
.*.json
*.rhl
*.tsbuildinfo
.ssl

# Account key
*serviceAccountKey*

# OSX
.DS_Store

# IDEs
# Root idea dir contains useful run configurations and style settings
# If a nested dir is opened in IDE, those settings are excluded
.idea
!/.idea

# dotenv environment variables file
*.env*

# Node
node_modules/
npm-debug.log
yarn-error.log
