name: mail-host

services:
  # To be implemented as a separate configuration of DMS like 'delivery-host' is.
  #inbound-smtp-server:

  freedom-host:
    build: .

    env_file: mail-host.env
    environment:
      - "FREEDOM_FAKE_EMAIL_SERVICE_ROOT_STORAGE_PATH=/app/data"
    working_dir: /app/backends/freedom-mail-host
    command: ["yarn", "start"]

    networks:
      - internal
    ports:
      - "25:25"
      - "465:465"
      - "587:587"

    volumes:
      # Secrets
      - "${DEPLOY_LETSENCRYPT_DIR:-VALUE_REQUIRED}/:/etc/letsencrypt/:ro"

      # Data
      - syncable-store-data:/app/data/

    restart: unless-stopped

  store-api-server:
    build: .

    env_file: store-api-server.env
    environment:
      - "FREEDOM_FAKE_EMAIL_SERVICE_ROOT_STORAGE_PATH=/app/data"
    working_dir: /app/backends/freedom-store-api-server
    command: ["yarn", "start"]

    networks:
      - internal
    ports:
      - "443:443"
      - "8443:443" # Temporary, for testing

    volumes:
      # Secrets
      - "${DEPLOY_LETSENCRYPT_DIR:-VALUE_REQUIRED}/:/etc/letsencrypt/:ro"

      # Data
      - syncable-store-data:/app/data/

    restart: unless-stopped

  delivery-host:
    build: ./code/backends/delivery-host

    # Provide the FQDN of your mail server here (Your DNS MX record should point to this value)
    hostname: "$DEPLOY_DELIVERY_HOST_NAME"
    env_file: ./code/backends/delivery-host/mailserver.env
    environment:
      - "SSL_TYPE=$DEPLOY_DELIVERY_HOST_SSL_TYPE"
      # - LOG_LEVEL=trace

      # We need to permit mail with no auth from mail-host
      # TODO: Implement safer, with single IP
      - PERMIT_DOCKER=connected-networks # only allowed when NO ports are published

    networks:
      - internal
    ports: [] # No exposure, see https://github.com/docker-mailserver/docker-mailserver/issues/1405

    volumes:
      # Secrets
      - "${DEPLOY_LETSENCRYPT_DIR:-VALUE_REQUIRED}/:/etc/letsencrypt/:ro"

      # Readable runtime data
      - "${DEPLOY_DELIVERY_HOST_DATA_DIR:-VALUE_REQUIRED}:/var/mail/"
      - "${DEPLOY_DELIVERY_HOST_LOGS_DIR:-VALUE_REQUIRED}:/var/log/mail/"

      # Unreadable runtime data (internal formats, only persist it for restarts)
      # Do not bind as a directory on Macs, sockets will not work
      - delivery-host-mail-state:/var/mail-state/

      # Runtime environment
      - /etc/localtime:/etc/localtime:ro

    restart: unless-stopped
    stop_grace_period: 1m
    healthcheck:
      test: "ss --listening --tcp | grep -P 'LISTEN.+:smtp' || exit 1"
      timeout: 3s
      retries: 1

volumes:
  delivery-host-mail-state:
  syncable-store-data:

networks:
  internal:
