@import "tailwindcss";

@layer theme {
  :root {

    --colors-default-text: #18181A;
    --default-font-family: var(--typography-font-family-font-sans, Urbanist);
    --default-font-style: normal;
    --default-font-weight: normal;

    --colors-secondary-text: #3F3F46;

    --colors-background: #fff;
    --colors-primary: #FFB43C;
    --colors-primary-contrast: #171717;
    --colors-divider: #E4E4E7;

    /* H1 */
    --h1-font-size: 30px;
    --h1-line-height: 36px;

    /* H2 */
    --h2-font-size: 24px;
    --h2-line-height: 32px;

    /* H3 */
    --h3-font-size: 20px;
    --h3-line-height: 28px;

    /* Body1 */
    --body1-font-size: 16px;
    --body1-line-height: 24px;

    /* Body2 */
    --body2-font-size: 14px;
    --body2-line-height: 20px;

    /* Caption */
    --caption-font-size: 12px;
    --caption-line-height: 16px;

    /* Button */
    --button-font-size: 14px;
    --button-line-height: 20px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --colors-background: #000;      
      --colors-default-text: #F4F4F5;
      --colors-secondary-text: #FAFAFA;
      --colors-divider: #27272A;
    }
  }
}

body {
  background-color: var(--colors-background);
}

hr {
  background-color: var(--colors-divider);
  border: none;
  height: 1px;
}

body, h1, h2, h3, h4, h5, h6, p, svg {
  color: var(--colors-default-text);
}

h1, h2, h3, h4, h5, h6, p, span, svg {
  &.text-primary {
    color: var(--colors-default-text);
  }
  &.text-secondary {
    color: var(--colors-secondary-text);
  }
  &.primary-contrast {
    color: var(--colors-primary-contrast);
  }
  &.medium {
    font-weight: 500;
  }
  &.semibold {
    font-weight: 600;
  }
}

.primary-color-bg {
  background-color: var(--colors-primary);
}

svg {
  &.sm-icon {
    width: 16px;
    height: 16px;
  }

  &.lg-icon {
    width: 40px;
    height: 40px;
  }
}
