# You local docker context for the remote docker compose host
# See https://docs.docker.com/engine/security/protect-access/
DEPLOY_DOCKER_CONTEXT=john-dev

# Env's mail domain
MAIL_DOMAIN=mail-host.john.dev.linefeedr.com
